.wrapper{
  width:90%;
  margin:0 auto;
}
.container {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;

  .filter {
    width: 180px;
  }

  .search {
    display: flex;
    width: 200px;
    margin-left: 10px;

    &-input {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgb(233, 209, 72);
      border-radius: 2px;
      font-family: inherit;
      font-size: inherit;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
  }
}

.row {
  position: relative;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  margin: 10px 0;

  &.head {
    .cell {
      background-color: rgb(160, 160, 160);
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      img {
        visibility: hidden;
      }

      &.active {
        .cell-title {
          font-weight: bold;
        }

        img {
          visibility: visible;
        }
      }
    }
  }

  .cell {
    background-color: #ddd;
    color: black;
    border-radius: 2px;
    padding: 16px;
  }

}

.rotate {
  transform: rotate(180deg);
}

.popup {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  border-radius: 2px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.search {
  &-input {
    width: 100%;
    height: 20px;
    padding: 2px;
    background: #ddd;

    &::placeholder {
      letter-spacing: 0;
    }
  }
}