:host {
  .shadow {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .container {
    z-index: 101;    
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    height: 100px;
  }
  .popup {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
    width: auto;
    padding: 20px;
    background: whitesmoke;
    color: black;
    &-title{
      font-size: 1.2rem;
      font-weight:bold;
    }
    &-text{
      padding: 10px 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 16px 0;
    }
    &-comments{
      p{
        text-decoration: underline;
        padding: 0;
        margin: 0px 0 10px;
      }
    }
    &-comment{
      display:flex;
      margin-bottom: 10px;
      &-number{
      font-weight:bold;
      margin-right:5px;
      }
      &-text{

      }
    }
  }
}